// out: false

// out: ../css/
// 导出设置

// 导入依赖文件
@import url(../../less/base.less);

@leftRight:20%;
@leftRight-300:50%;
@leftRight-400:45%;
@leftRight-500:40%;
@leftRight-600:35%;

* {
    // margin: 0 auto;
    padding: 0 auto;
}

li {
    list-style: none;
    /*取消点*/
}

a {
    text-decoration: none;
    /*取消下划线 */
}

html {
    scroll-behavior: smooth;
}


body {
    // display: flex;
}

.aside {
    // width: 300px;
    width: @leftRight;
    
    background-color: #e8e7e3;
    // float: left;/*左浮动 */
    //position: fixed;/* 悬浮  固定定位*/
    // overflow: auto;/*限制div高度，内容多了显示滚动条*/
    //bottom: 10%;/* 下边距 */
    //top: 10%;/* 上边距 */
    //left: -300px;/* 左边距 */
    transition-property: left;
    /*应用过度css属性的名称*/
    transition-duration: 1s;
    /*定义过度效果花费的时间*/

    position: fixed;
    top: 0%;
    bottom: 0px;
    left: 0px;
    right: 0px;


    .aside1 {

        // width: 280px;
        // width: @leftRight;
        overflow: auto;
        /*限制div高度，内容多了显示滚动条*/
        position: fixed;
        /* 固定定位*/
        bottom: 10%;
        /* 下边距 */
        top: 10%;
        /* 上边距 */
        left: 20px;
        right: 100% - @leftRight;




        ul {
            li {


                .aside_a {
                    display: block;
                    line-height: 30px;
                    /*行高 */
                    color: green;
                    width: 100%;

                    &:hover {
                        background-color: red;
                        transition-property: background;
                        /*应用过度css属性的名称*/
                        transition-duration: 1s;
                        /*定义过度效果花费的时间*/
                    }
                }
            }
        }
        span{
            font-size: 50px;
        }
    }


}





.zhuTi {
    // width: 0%;
    /* max-width: 80%; */
    /* width: 1300px; */
    /*宽 */
    background-color: antiquewhite;
    // margin: 0 auto;
    margin-left: @leftRight;
    /*居中 */

    /*border-width: 10px;/*边框 */
    /* border-style: solid;/*边框样式 */
    /* border-color: antiquewhite;/*边框颜色 */
    padding: 10px;
    /*内边距*/
    padding-left: 30px;

    table{
        tr{
            th{
                padding-left: 5px;
                padding-right: 5px;
            }
            td{
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }


    .red {
        color: red;
    }
    .center{
        text-align: center;
    }


    .k100 {
        max-width: 100px;
    }

    .k200 {
        max-width: 200px;
    }

    .k300 {
        max-width: 300px;
    }

    .k400 {
        max-width: 400px;
    }

    .k500 {
        max-width: 500px;
    }

}



@media screen and (max-width:980px) {
    .zhuTi {
        /* width: 600px; */
        // width: 95%;
    }

}
// 小于
@media screen and (max-width:300px) {
.aside {
    width: @leftRight-300;
    .aside1 {
        right: 100% - @leftRight-300;
    }
}
    .zhuTi {
        margin-left: @leftRight-300;
    }

}

// 小于
@media screen and (max-width:400px) {
    .aside {
        width: @leftRight-400;
        .aside1 {
            right: 100% - @leftRight-400;
        }
    }
        .zhuTi {
            margin-left: @leftRight-400;
        }
    
    }

    // 小于
@media screen and (max-width:500px) {
    .aside {
        width: @leftRight-500;
        .aside1 {
            right: 100% - @leftRight-500;
        }
    }
        .zhuTi {
            margin-left: @leftRight-500;
        }
    
    }

    @media screen and (max-width:600px) {
        .aside {
            width: @leftRight-500;
            .aside1 {
                right: 100% - @leftRight-500;
            }
        }
            .zhuTi {
                margin-left: @leftRight-500;
            }
        
        }
